# CSCI-A201/597 Introduction to Programming I: 
# Mock Final Exam: Programming Part

* Answer each questions as instructed. 

* When you finish the exam:
    * Step 1: Submit the print-out to intructor/TA.
    * Step 2: Save the file.
    * Step 3: Download the file `.ipynb`:
    * Step 4: Submission to Autograder

## p1.(1) [1 pts]

Create a Python dictionary named `p1_1` where the keys are numbers
from 1 to 15 (inclusive on both sides), and the corresponding values are the concatenation of
the numbers to itself.

for example:
`{1:11, 2:22, ... 14:1414, 15:1515}`

In [ ]:
p1_1 = None

In [ ]:
# check the answer
print(p1_1) # expected to get {1:11, 2:22, ... 14:1414, 15:1515}

## p1.(2)  [1 pts]

* Given a list of strings like this:
`["monday--1","Tuesday--2", ...]`

Write a function `p1_2` that take such a list as input and return a dictionary with a key
for word(str), and its value for an integer after `--`.

In [ ]:
def p1_2(a):
    pass

In [ ]:
days = ["monday--1", "Tuesday--2", "Wednesday--3", "Thursday--4", "Friday--5"]
p1_2(days)  # expected: {'monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5}

In [ ]:
fruits = ["Apple--10", "Banana--20", "Cherry--30"]      
p1_2(fruits) # expected: {'Apple': 10, 'Banana': 20, 'Cherry': 30}

In [ ]:
empty_list = []
p1_2(empty_list)    # expected: {}

In [ ]:
imperfect_data = ["UPPER -- 1", "lower-- 2", "Mixed--3 "] # pay attention to the extra empty spaces
p1_2(imperfect_data) # expected: {'UPPER': 1, 'lower': 2, 'Mixed': 3}

## p1.(3).  [1 pts]

* Write a function `p1_3` that takes in two sets, and makes a new set that contains the elements in just one of the sets. If `”monster”` is just one of the elements, remove that from the new set. Return the new set.

In [ ]:
def p1_3(a, b):
    pass

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3}

p1_3(set1, set2) # expected: {1}

In [ ]:
set1 = {"apple", "monster", "banana"}
set2 = {"apple", "orange"}

p1_3(set1, set2) # expected: {'banana', 'orange'}

In [ ]:
set1 = {"cat", "dog"}
set2 = {"cat", "monster", "bird"}

p1_3(set1, set2) # expected: {'bird', 'dog'}

In [ ]:
set1 = {"a", "monster", "b"}
set2 = {"a", "monster", "c"}

p1_3(set1, set2) # expected: {'b', 'c'}

## p1.(4)  [1 pts]

* Write a function `p1_4` that takes a variable number of parameters and returns:

* The count of arguments received
* The summation of the numbers (int and floats)

In [ ]:
# modify the code below
def p1_4():
    pass

In [ ]:
p1_4("abc") # expected to get 0

In [ ]:
p1_4("One", 1, 0.24) # expected to get 1.24

In [ ]:
p1_4(1, 2, 3, 2, 4) # expected to get 12

In [ ]:
p1_4("hello", [1, 2], {"a": 1}) # expected to get 0

In [ ]:
p1_4(10, None, 20, None, 3.14) # expected to get 33.14

## p2.(1)  [1 pts]

Finish the function `crypt`:

* Given a dict which maps every key char like `'a'` to a different value char like `'z'` and a string `s`.
    * check if the inputs are the the valid type. Raise `ValueError` is any of the input type is not correct
* Return a new string where every char in `s` that is in mapping has been replaced by its mapped value. 

* Treat upper/lower case as different. 

So for example the mapping `{'a': 'z', 'b': 'x'}` with `'abc'`, return `'zbx'`.

In [ ]:
def crypt(mapping, s):
    pass

In [ ]:
crypt( {'a': 'z', 'b': 'x'}, "abc") # expected: 'zxc'

In [ ]:
crypt({}, '') # expected to print nothing---an empty string

In [ ]:
crypt({'a': 'b', 'b': 'a'}, 'abba') # expected: "baab"

In [ ]:
mapping_a = {'h': 'H', 'e': '3', 'l': '1', 'o': '0'}
crypt(mapping_a, 'hello world!') # expected 'H3110 w0r1d!'

In [ ]:
mapping_wrong = {'1', '2', '3'}
crypt(mapping_wrong, 'hello world!') # ValueError

In [ ]:
mapping_a = {'h': 'H', 'e': '3', 'l': '1', 'o': '0'}
crypt(mapping_a, 12345) # ValueError

## P2.(2)  [1pts]

* Given a dict from the previous problem. Compute and return a **reverse mapping**, so if the original mapping maps `'a'` to `'z'`, the reverse mapping maps 'z' to 'a'. Assume the values in the mapping dict are all unique. 

* raise a `ValueError` is the input is not a dictionary

In [ ]:
def reverse_mapping(mapping):
    pass

In [ ]:
reverse_mapping({'a': 'z', 'b': 'x'}) # expected:{'z': 'a', 'x': 'b'}

In [ ]:
reverse_mapping({'h': 'H', 'e': '3', 'l': '1', 'o': '0'}) # expected:{'H': 'h', '3': 'e', '1': 'l', '0': 'o'}

In [ ]:
reverse_mapping([1, 2, 3]) # expected: ValueError

## P3  [1pts]

* run the code below to generate a file named `song.txt`

In [ ]:
%%writefile song.txt
On the first day of Christmas, my true love gave to me
A partridge in a pear tree.

On the second day of Christmas, my true love gave to me
Two turtle doves,
And a partridge in a pear tree.

On the third day of Christmas, my true love gave to me
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the fourth day of Christmas, my true love gave to me
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the fifth day of Christmas, my true love gave to me
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the sixth day of Christmas, my true love gave to me
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the seventh day of Christmas, my true love gave to me
Seven swans a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the eighth day of Christmas, my true love gave to me
Eight maids a-milking,
Seven swans a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the ninth day of Christmas, my true love gave to me
Nine ladies dancing,
Eight maids a-milking,
Seven swans a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the tenth day of Christmas, my true love gave to me
Ten lords a-leaping,
Nine ladies dancing,
Eight maids a-milking,
Seven swans a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the eleventh day of Christmas, my true love gave to me
Eleven pipers piping,
Ten lords a-leaping,
Nine ladies dancing,
Eight maids a-milking,
Seven swans a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

On the twelfth day of Christmas, my true love gave to me
Twelve drummers drumming,
Eleven pipers piping,
Ten lords a-leaping,
Nine ladies dancing,
Eight maids a-milking,
Seven swans a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

Finish the funciton according to the docstring

In [ ]:
def count_pattern(filename, pattern, n=5):
    """
    Given a filename(str), a pattern(str), and n(int). n has a default value=5
    Return an integer as the count of the pattern in the top n lines in the file.
    """
    pass

In [ ]:
count_pattern("song.txt", 'Christmas', 7) # expected: 2

In [ ]:
count_pattern("song.txt", 'Christmas', 10) # expected: 3

In [ ]:
count_pattern("song.txt", 'Christmas') # expected: 2

In [ ]:
count_pattern("song.txt", 'Christmas', 40) # expected: 7

## P4 [1pts]

* Finish the function according to the docstring

In [ ]:
def make_county(words):
    """
    Given a list of non-empty words, produce 'county' dict
    where each first-char-of-word seen is a key, and its value
    is a count dict of words starting with that char.
    So ['aaa', 'abb', 'aaa'] returns {'a': {'aaa':2, 'abb':1}}
    """
    pass

In [ ]:
make_county(['aaa', 'abb', 'aaa']) # expected: {'a': {'aaa':2, 'abb':1}}

In [ ]:
make_county(['aaa', 'abb', 'aaa', 'bbb', 'abb', 'bbb', 'abb', 'bcc']) # expected {'a': {'aaa': 2, 'abb': 3}, 'b': {'bbb': 2, 'bcc': 1}}

In [ ]:
 make_county(['hi', 'hi', 'hi']) # expected: {'h': {'hi': 3}}

In [ ]:
large_input = ['cat'] * 100 + ['dog'] * 50 + ['crocodile'] * 101
make_county(large_input) # expected: {'c': {'cat': 100, 'crocodile': 101}, 'd': {'dog': 50}}